<div class="row">
  <div class="col-12">
    <img [src]="recipe.imageURL" alt="{{recipe.name}}" title='{{recipe.name}}' class="img-responsive" style='max-height: 100px;'>
  </div>
  <div class="col-12">
    <h2>{{ recipe.name }}</h2>
  </div>
  <div class="col-12">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <strong>Manage Recipe</strong>
      </button>
      <div class="dropdown-menu" routerLinkActive='active'>
        <a class="dropdown-item" [routerLink]="['../new']">Add Recipe</a>
        <a class="dropdown-item" [routerLink]="['../edit', recipe.id]">Edit Recipe</a>
        <a class="dropdown-item" routerLink="../" (click)="onDeleteRecipe()">Delete Recipe</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" [routerLink]="['../../shopping-list']" routerLinkActive='active'>To Shopping List</a>
        <a class="dropdown-item" [routerLink]="['../../shopping-list']" routerLinkActive='active' (click)="sendIngredientsToSL()">Send ingredients to Shopping List</a>
      </div>
    </div>
  </div>
  <div class="col-12">
    <p>{{ recipe.desc }}</p>
  </div>
  <div class="col-12">
    <div *ngFor="let ingredient of recipe.ingredients; let i = index;" class="list-group" >
      <div class="list-group-item">
        <a href="#">{{ ingredient.name }} ({{ ingredient.quantity }})</a>
      </div>
    </div>
  </div>
</div>



