<div class="row">
  <div class="col-12" *ngIf="!searchAllowed; else search;">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name"><strong>Item Name: </strong></label>
          <input type="text" id='name' class='form-control' name="name" ngModel required/>
        </div>
        <div class="col-sm-2 form-group">
          <label for="qty"><strong>Item Quantity: </strong></label>
          <input type="number" id='qty' class="form-control" name="qty" ngModel required pattern="^[1-9]+[0-9]*$" />
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <button class="btn btn-success" type='submit' [title]="editMode ? 'Update' : 'Add Item'" [disabled]="f.invalid">{{ editMode ? 'Update' : 'Add Item'}}</button>&nbsp;
          <button class="btn btn-primary" type='button' title='Clear List' (click)="clearShoppingList()">Clear List</button>&nbsp;
          <button class="btn btn-secondary" type='button' title='Search Item' (click)="toSearchItems()">Search Item</button>
        </div>
      </div>
    </form>
  </div>
</div>
