input.ng-invalid.ng-dirty, textarea.ng-invalid.ng-dirty {
    border: 1px solid red;
}

input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
    border: 1px solid red;
}

.ingredients {
    width: 40%;
    display: block;
}

div > button {
    align-content: center;
    justify-content: center;
}